:root {
  --color-primary: #d86100;
  --color-primary-light-1: #ff790c;
  --color-primary-light-2: #ff953f;
  --color-primary-dark-1: #a54a00;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #eee;
}