/********************* 
** HEADER
*/

.header {
  font-size: 1.6rem;
  padding-top: 1.5rem;
  /* padding-bottom: 1.5rem; */
  display: flex;
  align-items: center;
}

/********************* 
** LOGO
*/

.logo {
  display: flex;
  /* justify-content: center; */
}

.logo__link {
}

.logo__img {
  width: 12rem;
}

/********************* 
** CONTACTS
*/

.contacts {

}

/********************* 
** EMAIL
*/

.email {
  display: inline-block;
}

.email__link {
}

.email__link:link,
.email__link:visited {
  color: var(--color-grey-dark-1);
}

.email__link:active,
.email__link:hover {
  color: var(--color-primary);
}

.email__address {
}

.email__icon {
  padding-right: 1rem;
  color: var(--color-primary);
}

/********************* 
** TELEPHONES
*/

.telephone {
}

.telephone__link {
  color: inherit;
}

.telephone__link:active,
.telephone__link:hover {
  color: var(--color-primary);
}

.telephone__icon {
  padding-left: .3rem;
  padding-right: 1rem;
  color: var(--color-primary);
}

.telephone--offset {
  padding: 0 0.5rem;
}

/********************* 
** TELEPHONES
*/

.search {
}

.search__input {
  font-size: inherit;
}

.search__input:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem rgba(216, 97, 0,.25);
}

.search__button {
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  transition: all .2s;
}

.search__button:active,
.search__button:hover {
  color: var(--color-grey-light-1);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/********************* 
** LANGUAGE SWITCHER
*/

.lang-switcher {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  /* height: 100%; */
}

.lang-switcher__list {
  /* align-items: center; */
}

.lang-switcher__item {
  border-color: var(--color-primary) !important;
  padding: 0;
  display: flex;
}

.lang-switcher__link {
  color: var(--color-grey-dark-1);
  /* background-color: var(--color-grey-light-2); */
  padding: 0.5rem 1rem;
}

.lang-switcher__link:link,
.lang-switcher__link:visited {
  color: var(--color-grey-dark-1);
}

.lang-switcher__link:active,
.lang-switcher__link:hover {
  color: var(--color-primary);
}

.active .lang-switcher__link {
  color: var(--color-grey-light-1);
}

.list-group .list-group-item.active.lang-switcher__item {
  background-color: var(--color-primary);
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
